<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/base-con-menu :: layout(~{::title}, ~{::cuerpo}, ~{::link})}"
>
  <head>
    <title>Comandas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
  </head>

  <body class="d-flex">
    <th:block th:fragment="cuerpo">
      <main class="main">
        <div class="box info">
          <div class="header-info">
            <h2 class="mb-3">Configuracion Comanda</h2>
          </div>
          <hr class="separator" />

          <div class="body-info">
            <table
              id="tablaComanda"
              class="table display"
              style="width: 100%"
              aria-describedby="Tabla de Comandas"
            >
              <thead class="align-middle">
                <th>Código</th>
                <th>Estado de Comanda</th>
                <th>Número de Mesa</th>
                <th>Cantidad de Asientos</th>
                <th>Empleado</th>
                <th>Dni del Empleado</th>
                <th>Fecha de Emisión</th>
                <th>Total</th>
              </thead>
              <tbody>
                <tr th:each="comanda : ${listaComanda}" class="align-middle">
                  <td th:text="${comanda.id}"></td>
                  <td th:text="${comanda.estadoComanda.estado}"></td>
                  <td th:text="${comanda.mesa.id}"></td>
                  <td th:text="${comanda.cantidadAsientos}"></td>
                  <td
                    th:text="${comanda.empleado.nombre + ' ' + comanda.empleado.apellido}"
                  ></td>
                  <td th:text="${comanda.empleado.dni}"></td>
                  <td th:text="${comanda.fechaEmision}"></td>
                  <td th:text="${comanda.precioTotal}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>

      <template th:insert="~{fragments/modal-template}" id="modal-template">
      </template>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
      ></script>
      <script
        src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"
      ></script>
      <script
        src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.js"
      ></script>
      <script
        src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"
      ></script>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script type="module" src="/js/comanda.js"></script>
    </th:block>
  </body>
</html>
