<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/base-con-menu :: layout(~{::title}, ~{::cuerpo}, ~{::enlaces})}"
>
  <head>
    <title>Inicio</title>
    <th:block th:fragment="enlaces"> </th:block>
  </head>

  <body>
    <th:block th:fragment="cuerpo">
      <main class="flex-grow-1 d-flex justify-content-center">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center px-3 gap-3"
        >
          <h1 class="display-3">Bienvenido al Sistema - Usuario</h1>

          <div style="max-width: 400px">
            <img th:src="@{/images/home.jpg}" alt="Inicio" />
          </div>
        </div>
      </main>
    </th:block>
  </body>
</html>
