<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/base :: layout(~{::title}, ~{::body}, ~{::enlaces})}"
>
  <head>
    <title>Página no encontrada</title>
    <th:block th:fragment="enlaces"> </th:block>
  </head>
  <body>
    <div
      style="max-width: 800px; min-height: 100svh"
      class="m-auto d-flex justify-content-center align-items-center px-4"
    >
      <div>
        <h1 class="text-center">Error 404 - Página no encontrada</h1>
        <div style="max-width: 600px" class="mx-auto my-3">
          <img th:src="@{/images/404.jpg}" alt="Inicio" />
        </div>
        <a href="/"><< Ir al inicio</a>
      </div>
    </div>
  </body>
</html>
