/* ------------------------ LOGIN ------------------------ */
.hero-image {
  min-height: 100svh;
  background-image: url("/images/background.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.hero-image > div {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.hero-image > div > div {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white-color);
  font-weight: bolder;
  margin: 1rem auto;
}

.login {
  margin: 0 auto;
  padding: 20px;
  border-radius: 17px;
  width: clamp(280px, 50vw, 330px);
  background-color: rgba(255, 255, 255, 0.75);
}

.login > h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-error {
  text-align: left;
  font-size: 0.875em;
  margin-bottom: 0.25rem;
  color: var(--bs-red);
}

.recover-password {
  align-self: flex-end;
  color: var(--bs-dark);
  text-decoration: none;
  font-weight: 300;
  transition: opacity 300ms ease-in-out;
}

.recover-password:hover {
  color: var(--bs-dark);
  opacity: 0.75;
}

.container-password {
  position: relative;
}

.container-password-toggle {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 10%;
}

.password.is-invalid {
  background-image: none;
}

.image-password {
  width: 16px;
  height: 16px;
  background-image: url("/images/visibilidad_desactivada.png");
}

.btn-toggle-password {
  border: none;
}

.show-password {
  background-image: url("/images/visibilidad_activada.png");
}
